<h1>Recommendations</h1>

<% @recommendations.each do |recommendation| %>
  <h4>
    Location: <%= recommendation.location.city_name %>
    User: <%= recommendation.user.username %>
    Body: <%= recommendation.body %>
  </h4>
<% end %>
