<h1>Recommendations</h1>
<%#=think of replacing . with 's - eg the recommendation's location's city name%>

<% @recommendations.each do |recommendation| %>
  <h4><%= link_to "#{recommendation.recommended_place}", recommendation %></h4>
<% end %>
