<% provide(:title, 'All users') %>
<div class="center jumbotron">
<h1>Travellers</h1>
</div>
<ul class="users">
  <% @users.each do |user| %>
    <li>
      <%= gravatar_for user, size: 50 %>
      <%= link_to user.name, user %>
    </li>
  <% end %>
</ul>
