<div class="center jumbotron">
  <h1>About Triply</h1>
  <h2>Triply is a social networking site for travellers. Create an account, connect with your friends and family members, and share your favorite spots with your network!</h2>
  <h2>This site is currently under construction - additional functionality coming soon!</h2>
</div>
