<% provide(:title, "About") %>
<div class="center jumbotron">
  <h1>About Triply</h1>
  <h2>Share your favorite places on triply! Create an account, add recommendations for the hidden gems you’ve discovered, and take a look at what other travelers have recommended when planning your next trip!</h2>
  <h2>This site is currently under construction - additional functionality coming soon!</h2>
</div>
