<div class="center jumbotron">
  <p>Triply is a social networking site for travellers. Create an account, connect with your frinds and family members, and share your favorite spots with your network!</p>
  <p>This site is currently under construction - more functionality coming soon!</p>
</div>
