<% provide(:title, "Contact") %>
<div class="center jumbotron">
  <h1>Contact</h1>
    <h2>Contact the developer, Leigh Varley, at <a href="mailto:leighvarley@gmail.com">leighvarley@gmail.com</a> or connect with her on <a href="https://www.linkedin.com/in/leighvarley">LinkedIn</a>.</h2>
  </div>
