<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Contact the developer, Leigh Varley, at <a href="mailto:leighvarley@gmail.com">leighvarley@gmail.com</a> or connect with her on <a href="https://www.linkedin.com/in/leighvarley">LinkedIn</a>.
</p>
