<div class="center jumbotron">
  <h1>Welcome to Triply</h1>

  <h2>Share your favorite places with your favorite people</h2>

  <%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("worldmap.png", alt: "world map") %>
