<% provide(:title, "Home") %>
<div class="center jumbotron">
  <p><%= link_to image_tag("Triply-logo.png", alt: "Triply logo") %></p>
  <h2>Share your favorite places with your favorite people.</h2>
  <p><%= link_to "Sign up now!", '/signup', class: "btn btn-lg btn-primary" %></p>
</div>
