@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */

$dark-gray: #36454F;
$gray: #626D75;
$green: #1CD3A2;
$blue: #80DAEB;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

.navbar {
  background-color: $green;
  font-color: white;
  border: 0em;
  li {
    font-size: 2em;
      & a:hover{
      font-size: 2.1em;
      background-color: $green;
      text-decoration: none;
      }
  }
}

body {
  padding-top: 7em;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.jumbotron {
  background-color: $blue;
  text-align: center;
  h2 {
    float: center;
    display: inline-block;
    width: 70%
  }
}

/* typography */

h1, h2, h3, h4, h5, h6, li, label, a {
  line-height: 1em;
  font-family: 'Amatic SC', cursive;
}

p {
  line-height: 1.5em;
  font-family: 'Pompiere';
}

h1 {
  font-size: 4em;
  margin-bottom: 0.5em;
  text-align: center;
}

h2 {
  font-size: 2.2em;
  margin-bottom: 0.5em;
  text-align: center;
  color: $gray;
}

h3 {
  font-size: 2em;
  text-align: left;
  color: $gray;
    & a:hover{
    font-size: 2.2em;
    text-decoration: none;
    }
}

h4 {
  font-size: 2em;
  padding-left: 1em;
  padding-right: 1em;
  color: white;
}

p, label, li {
  font-size: 1.6em;
    & a:hover{
    font-size: 2em;
    text-decoration: none;
    }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid $dark-gray;
  width: 100%;
  margin-bottom: 1em;
  font-family: 'Amatic SC', cursive;
  @include box_sizing;
  font-size: 2em;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
}

.btn {
  font-size: 1em;
  margin-bottom: 0.3em;
}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 1em 0;
    border-bottom: 0.1em solid $gray;
  }
}

/* gravatar */

.gravatar {
  float: left;
  margin-right: 0.2em;
}

.gravatar_edit {
  margin-top: 1em;
}

/* footer */

footer {
  margin-top: 7em;
  padding-top: 1em;
  border-top: 0.1em solid $gray;
  a {
    color: $gray;
    &:hover {
      color: $dark-gray;
    }
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 1em;
    }
  }
}
