@import "bootstrap-sprockets";
@import "bootstrap";

// #777 used in h2 and in footer - define it as variable light-gray to be more descriptive
//Less uses @ and Sass uses $ - bootstrap-sass gem provides sass equivalents
$light-gray: #777;
$gray-medium-light: #eaeaea;

/* universal */

body {
  padding-top: 70px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

//dot indicates that the rule styles the entire class
//can combine nested .center rules commented out with condensed rule below using Sass
// .center {
//   text-align: center;
// }
//
// .center h1 {
//   margin-bottom: 10px;
// }
.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $light-gray;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

//used Sass to combine #logo and #logo:hover rules into one block
//in SCSS use '&' to replace second instance of '#logo'
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: #white;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}
