<h1>Locations</h1>

<% @locations.each do |location| %>
  <%#= link_to "#{location.city_name}, #{location.state_name}, #{location.country_name}", location %>
  <h4><%= link_to "#{location.city_name}, #{location.state_name}", location %></h4>
<% end %>
