<footer class="footer">
  <small>
    Created by <a href="https://www.linkedin.com/in/leighvarley">Leigh Varley</a>
  </small>
  <nav>
    <ul>
      <li><%#= link_to "About",   '/about' %></li>
      <li><%= link_to "Contact", '/static_pages/contact' %></li>
    </ul>
  </nav>
</footer>
